# Ignore object files, shared libraries, and executables
*.o
*/*/*.o
*.a
*.so
*.out
*.dll
minilibx/*
cub3D

# Ignore directories created by common IDEs
#.vscode/
*.nfs*

# Ignore Vim temporary files
*.swp
